<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script src="/javascripts/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script src="/javascripts/chosen.jquery.min.js" type="text/javascript"></script>
        <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
        <link id="last-include" href="/stylesheets/refheap.css" rel="stylesheet" type="text/css"/>
        <link href="/javascripts/codemirror/lib/codemirror.css" rel="stylesheet" />
        <link href="/stylesheets/cmtn.css" rel="stylesheet" />
        <link href="/stylesheets/chosen.css" rel="stylesheet" type="text/css" />
        <script src="/javascripts/codemirror/lib/codemirror.js"></script>
        <script src="/javascripts/codemirror/mode/diff/diff.js"></script>
        <script src="/javascripts/globals.js" type="text/javascript"></script>
        <script src="/javascripts/create.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="site-container">
            <div id="header">
                <a id="site" href="/">PasteIt! - Just paste it</a>
                <div class="headerlinks">
                    <div id="starting">
                        <ul class="spacedlist">
                            <li id="last"><a href="/about">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="content">
                <div id="container" class="clearfix">
                    <div id="main-container">
                        <div id="paste-container">
                            <form name="paste" action="submitPaste" method="post">
                                <div id="paste-header">
                                    <input type="hidden" name="mime" id="mime" value=""></input>
                                    <select id="language" name="language">
                                        <option value=""></option>
                                        <option selected value=""></option>
                                    </select>
                                    <input id="submit-button" value="Submit" type="submit" />
                        				    <div id="word-wrap-toggle">
                        				      Word Wrap
                        				      <input id="radio-ww-on" name="ww-toggle" type="radio" value="enabled" /><label for="radio-ww-on">On</label>
                        				      <input id="radio-ww-on" name="ww-toggle" type="radio" value="disabled" checked /><label for="radio-ww-off">Off</label>
                        				    </div>
                                </div>
                                <textarea name="paste" id="paste"></textarea>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="footer">
                    <p class="centered">
                    <a href="//github.com/macskay/pasteit">PasteIt!</a> is a JavaScript adaption of
                    <a href="//github.com/Raynes/refheap">RefHeap</a>
                </div>
            </div>
        </div>
    </body>
</html>
